*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
html{
    font-family: Arial, Helvetica, sans-serif;
}

/*
1.vi tri
2. kich thuoc
3.mau sac
4.kieu dan
*/
.clear{
    clear: both;
}
.text-white{
    color: white !important;
}
#main{

}

#header{
    height: 46px;
    background-color: black;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1;
}

#nav{
    display: inline-block;
}
#nav,.subnav{
    list-style-type: none;
    
}
#nav li a{
    text-decoration: none;
    line-height: 46px;
    color: white;
    padding: 0 24px;
    
}
#nav>li>a{
    text-transform: uppercase;
    
}
#nav li:hover .subnav{
    display:block
}
#nav .subnav li:hover a,
#nav>li:hover>a{
    color: black;
    background-color: #ccc;
    display: block;
    

}

#nav > li{
    display: inline-block;
}
#nav li{
    
    position: relative;
    }

#nav .nav-arrow-down{
    font-size: 13px;
}
#nav .subnav{
    display: none; 
    position: absolute;
    top: 100%;
    background-color: white;
    box-shadow: 0 0 10px rgba(0,0,0,0.3);
   
    min-width: 160px;
}


#nav .subnav a{
    color: black ;
    padding: 0 10px;
    line-height: 38px;


}
#header .searchbutton{
    float: right;
    padding: 0 21px;
    

}
#header .searchbutton:hover{
    cursor: pointer;
    background-color: #f44336;
}
#header .search-icon{
    font-size: 20px;
    color: white;
    line-height: 46px;
    
    
}

#slider{
    position: relative;
   margin-top: 46px;
   padding-top: 50%;
   background: url('../imgs/slider/chicago.jpg') top center / cover no-repeat;
}
#slider .text-content{
    position: absolute;
    color: white;
    bottom: 48px;
    /* left: 50%;
    transform: translateX(-50%); */
    width: 100%;
    text-align: center;
}
#slider .text-heading{
    font-weight: 400;
    font-size: 24px;
}
#slider .text-description{
    font-size: 15px;
    margin-top: 20px;
}
#content{
    

}
#content .content-section{
    width: 800px;
    margin-left: auto;
    margin-right: auto;
    padding: 64px 0;

}

#content .section-heading{
    font-weight: 400;
    font-size: 30px;
    letter-spacing: 4px;
    text-align: center;

}
#content .section-sub-heading{
    font-size: 15px;
    text-align: center;
    margin-top: 25px;
    font-style: italic;
    opacity: 0.6;
}
#content .about-text{
    margin-top: 25px;
    text-align: justify;
    line-height: 1.4;
}
#content .members-list{
    padding-top: 48px;
   
}
#content .member-item{
    float: left;
    width: calc(100%/3);
    /* chia deu img ra giua */
    text-align: center;
    
    
}
#content .member-name{
    font-size: 15px;
    
    
}
#content .member-img{
    margin-top:15px ;
    width: 154px;
    border-radius: 4px;
/* radius =bo tron` */
}
#content .tour-section{
    background-color: black;
    
}
.tickets-list{
    background-color: white;
    margin-top: 40px;
    list-style-type: none;
    
}
.tickets-list li{
    font-size: 15px;
    padding: 11px 16px;
    border-bottom: solid 1px #ddd;
    color: #757575
}
.tickets-list .sold-out{
    background-color: red;
    padding: 4px 6px;
    color: white;
    margin-left: 16px;
}
.tickets-list .quantity{

    float: right;
    width: 24px;
    height: 24px;
    background-color: black;
    color: white;
    border-radius: 50%;
    text-align: center;
    line-height: 24px;
    margin-top: -3px;
}
/* .Place */

.places-list{
    margin-top: 32px;
    margin-left: -8px;
    margin-right: -8px;
    padding-bottom: 48px;
    
}
.place-item{
    float:left;
    width: calc(100%/3);
    padding: 0 8px;
}
.place-img{
    width: 100%;
    display: block;

}
.place-img:hover{
    opacity: 0.5;
}
.place-body{
    background-color: white;
    padding: 16px;
    font-size: 15px;


}
.place-heading{
    font-size: 15px;
    font-weight: 600
}
.place-time{
    opacity: 0.5;
    margin-top: 15px;
    margin-bottom: 15px;
}
.place-description{
    line-height: 1.4;

}
.place-buy-button{
    padding: 11px 15px;
    color: white;
    background-color: black;
    text-decoration: none;
    width: 108px;
    height: 38px;
    display: inline-block;
    margin-top: 15px;
}
.place-buy-button:hover{
    background-color: #ccc;
    color: black;
    border: none;
}

.modal{
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: rgba(0,0,0, 0.4);
    align-items: center;
    justify-content: center;
    display: none;
}
.modal.open{
    display:flex
}
.modal-container {
    background-color: white;
    width: 900px;
    max-width: calc(100% - 32px);
    min-height: 200px;
    position: relative;
    animation: modalFacein ease .5s;
}
.modal-close{
    position: absolute;
    right: 0;
    top: 0;
    color: white;
    padding: 15px;
    cursor: pointer;
}
.modal-close :hover{
    opacity: 0.5;   
}
.modal-header{
    background-color: #009688;
    height: 129px;
    font-size: 30px;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
}
.modal .ti-bag{
    margin-right: 16px;
}
.modal-body{
    padding:16px;
}
label.modal-label {
    display: block;
    font-size: 15px;
    margin-bottom: 12px;
}
input.modal-input {
    font-size: 15px;
    border: 1px #ccc solid;
    width: 100%;
    padding: 10px;
    margin-bottom: 24px;
}
button#buy-ticket {
    background: #009688;
    border: none;
    color: white;
    font-size: 15px;
    width: 100%;
    padding: 18px;
    text-transform: uppercase;
}
button#buy-ticket:hover{
    opacity: 0.9;
    cursor: pointer;
    color: black;
    
}
.modal-footer{
    padding: 16px;
    text-align: right;

}
.modal-footer a{
    color: cornflowerblue;
}
#footer{

}
@keyframes modalFacein{
    from {
        transform: translateY(-140px);
        opacity: 0;
    }
    to {
        transform: translateY(0);
        opacity: 1;
    }
    
}